.board{
    margin-top: 10px;
    display: inline-block;
}

.square {
    background: #fff;
    border: 1px solid black;
    text-align: center;
    float: left;
    font-weight: bold;
    line-height: 33px;
    height: 33px;
    width: 33px;
}
  
.board-row {
    
    display: table;
}