.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh ;
  background-color: aqua;
}

.form{
  border: 1px solid black;
  padding: 50px;
}

