.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh ;
  background-color: aqua;
}

.form{
  border: 1px solid black;
  padding: 50px;
}

.active{
  background-color: black;
  color: white;
}
input{
  display: block;
}

.dark{
  background-color:darkolivegreen;
  color: white;
}
.light{
  background-color: white;
  color: black;
}

.drop-size{
  max-height: 200px;
  overflow: scroll;
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  float: left;
}